body{
    justify-self: center;
    margin: 0;
    padding: 0;

}
.Copernican{
    z-index: 0;
    top: 10%;
    left: -8%;
    margin: auto;
    padding: 0;
    /* color: red; */
    height: 80%;
    width: 66%;
    position: absolute;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.Copernican div, .Copernican a{
    padding: 0%;
    margin: 0%;
    position: absolute;
    border-radius: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.Copernican a{
    z-index: 12;
}

.Copernican img{
    z-index: -2;
    width: 21%;
    top: 45%;
    left: 45%;
}

.Copernican .ring{
    z-index: -1;
    border: 2px solid var(--fourth-color);
    border-radius: 100%;
} 

.Copernican .center1{
    z-index: 4;
    padding: 15%;
    border-width: 6px;
    transform: rotate(20deg);
}


.Copernican .center2{
    z-index: 3;
    padding: 19%;
    transform: rotate(130deg);

}
.Copernican .center3{
    z-index: 2;
    padding: 22%;
    border-width: 6px;
    transform: rotate(330deg);
}
.Copernican .center4{
    z-index: 1;
    padding: 26%;
    transform: rotate(195deg);

}

.Planet{
    background-color: white;
}


.Planet1{
    z-index: 12;
    left: 45%;
    top:95%;
    height:10%;
    width: 10%;
}

.Planet2{
    z-index: 12;
    left: 45%;
    top:95%;
    height:8.7%;
    width: 8.7%;
}

.Planet3{
    z-index: 12;
    left: 45%;
    top:96%;
    height:9%;
    width: 9%;
}

.Planet4{
    z-index: 12;
    left: 45%;
    top:95%;
    height:9%;
    width: 9%;
}
