:root{
    font: 16px;
    --first-color: #c30729;
    --second-color: #950740;
    --third-color: #6F2232;
    --fourth-color: #b1afaf;
    --fifth-color: #ececec;
    --bg-primary: #1e1e20;
    --bg-secondary: #18181b;
  }

.astro{
  z-index: -2;
  width: 13%;
  /* height: inherit; */
  /* top: 45%;
  left: 45%; */
}


.solarSystem{
    background: var(--bg-secondary);
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    min-width: 700px;
}

.headerName{
  position: absolute;
  font-family: 'Orbitron', serif;
  color:  white;
  /* background: linear-gradient( rgba(255,0,0,1) 1%, rgba(17,0,210,1) 99%);
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

