:root{
    font: 16px;
    --first-color: #c30729;
    --second-color: #950740;
    --third-color: #6F2232;
    --fourth-color: #b1afaf;
    --fifth-color: #ececec;
    --bg-primary: #1e1e20;
    --bg-secondary: #18181b;
  }

.solarSystem{
    background: var(--bg-secondary);
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}