@keyframes IntroFade {
  18% { opacity: 0; }
  65% { opacity: 1; }
  100%{ opacity: 0;}
  }

@keyframes IntroBG {
  0% {opacity: 1;}
  90%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes scrollFadeIn{
  0%{ overflow-y: hidden;}
  80%{ overflow-y: hidden;}
  /* 100%{ overflow-y: hidden;} */
}