.sectionContainer, .content{
    min-height: 100vh;
    margin: auto;
    padding-top: auto;
    /* border: 2px solid green; */
    /* background-color: rgb(236, 236, 236); */
    background-color: rgb(218, 207, 181);
}

.sectionFiller{
    padding-top: 45vh;
}

.introduction, .introductionBG{
    display: block;
    position: fixed;
    padding-top: 20%;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-size: 4cqw;
    /* animation: IntroFade 6s; */
    opacity: 0;
    z-index: 3;
}

.introductionBG{
    background-color: antiquewhite;
    animation: IntroBG 7s;
}

.fadeAnimation{
    animation: IntroFade 6s;
}

*{
    text-align: center;
}

.body{
    color: orange;
}

.aboutMeParagraph{
    font-size: 1.6cqw;
}

h1{
    font-weight: bolder;
}

.picture{
    z-index: 4;
    width: 4cqw;
    height: 4cqw;
}

.picture2{
    width: 45cqw;
    height: 45cqw;
}

.hideMe{
    visibility: hidden;
}