.tableHolder{
    border: 2px solid black;
    width: 60cqw;
    margin: auto;
}

td,th {
    border: 2px solid black;
    text-align: left;
    padding: 0.5cqw 2cqw;
    margin: 0px;
}

tr:nth-child(odd){
    background-color: rgb(201, 196, 196);
}