
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                      Scrollbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body::-webkit-scrollbar{
  width: 0.45rem;
}
body::-webkit-scrollbar-track{
  background: rgb(52, 52, 57);
}
body::-webkit-scrollbar-thumb{
  background: #000000;
  border-radius: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.borders{
  margin-top: 100px;
  margin-bottom: 200px;
}

.borderMargin{
  margin: 0;
  padding-top: 78px;
}

body{
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  margin-left: 0%;
  height: 100vh;
  background-color: var(--bg-primary);
}

a{
  text-decoration: none;
  color: inherit;
}


.App {
  size: 70px;
  /* border: 2px solid red; */
  text-align: center;
  width: 80%;
}

li{
  list-style: none;
}

/* h1{
  border-bottom: 3px solid white;
  border-radius: 2px;
  width: fit-content;
  padding: 0;
  margin: auto;
} */


.App-header {
  margin: auto;
  min-height: 100vh - 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(17px + 2vmin);
  color: var(--fourth-color);
}

/* h1 {
  background: linear-gradient(to right, #6F2232, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F, #C3073F ,#6F2232);
  background-clip: text;
  -webkit-text-fill-color: transparent
} */

.title{
  margin-bottom: 4rem;
}