:root{
    font: 16px;
    --first-color: #c30729;
    --second-color: #950740;
    --third-color: #6F2232;
    --fourth-color: #b1afaf;
    --fifth-color: #ececec;
    --bg-primary: #1e1e20;
    --bg-secondary: #18181b;
  }

.skill-Header{
    font-size: 34px;
    color: var(--fourth-color);
    width: fit-content;
    letter-spacing: 2px;
    text-align: left;
    border-bottom: 2px solid white;
    border-radius: 3px;
    margin: 20px 0px 12px 45px;
}

.skill-List{
    display: flex;
    justify-content: left;
    text-align: left;
    margin: 0px 0px 0px -8px;
    padding:  0;
}

.skill-ListItem{
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--fifth-color);
    width: fit-content;
    padding: 8px 20px;
    margin: 8px 6px;
    border: 2px solid;
    border-color: var(--third-color);
    border-radius: 20px !important;
    background: var(--bg-secondary);
}

.navTag-Holder{
    display: flex;
}

.navTag, .navTag::after, .navTag::before{
    font-size: calc(6px + 1.5vmin);
    display: inline-block;
    margin: 0 15px;
    color: var(--fourth-color);
    transition: .5s;
    border-top: 1px hidden var(--bg-primary);
    border-bottom: 1px hidden var(--fourth-color);
    transition-timing-function: ease;
}



.navTag:hover{
    border-top: 1px solid var(--bg-primary);
    border-bottom: 1px solid var(--fourth-color);
    color: var(--fifth-color);
    height: 0;
    z-index:1;
    padding-bottom:2px ;
}
