:root{
    font: 16px;
    --first-color: #C3073F;
    --second-color: #950740;
    --third-color: #6F2232;
    --fourth-color: #b1afaf;
    --fifth-color: #ececec;
    --bg-primary: #1e1e20;
    --bg-secondary: #18181b;
  }

.skill-Header{
    font-size: 34px;
    color: var(--fourth-color);
    width: fit-content;
    letter-spacing: 1px;
    text-align: left;
    border-bottom: 2px solid white;
    border-radius: 3px;
    margin: 20px 0px 12px 45px;
}

.skill-List{
    display: flex;
    justify-content: left;
    text-align: left;
    margin: 0px 0px 0px -8px;
    padding:  0;
}

.skill-ListItem{
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--fifth-color);
    width: fit-content;
    padding: 8px 20px;
    margin: 8px 6px;
    border: 2px solid;
    border-color: var(--third-color);
    border-radius: 20px !important;
    background: var(--bg-secondary);
}
