:root{
    font-size: 16px;
    --first-color: #C3073F;
    --second-color: #950740;
    --third-color: #6F2232;
    --fourth-color: #b1afaf;
    --fifth-color: #ececec;
    --bg-primary: #1e1e20;
    --bg-secondary: #18181b;
  }

.navibar{
    display: inline-block;
    position: fixed;
    width: 100%;
}

.navbar-name{
    border: 2px solid orange
}

.navbar-List{
    border: 2px solid grey;
    display: flex;
    justify-content: right;
}

.navbar-ListItem{
    display: inline-block;
    padding: 32px;
    text-align: right;

}

.navi-BottomStyle{
    position: fixed;
    padding: 2px;
    display: inline-block;
    width: 100%;
    top: 60px;
    margin: 0;
    background:  linear-gradient(to right, var(--first-color), var(--second-color), var(--third-color), var(--first-color), var(--second-color), var(--third-color), var(--first-color), var(--second-color), var(--third-color), var(--first-color), var(--second-color), var(--third-color), var(--first-color), var(--second-color), var(--third-color), var(--first-color), var(--second-color), var(--third-color));
}